{% extends 'games/base.html' %}
{% block title %}Modification du mot de passe{% endblock title %}
{% block content %}
    <h1>Modification du mot de passe</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-info" type="submit">Changer le mot de passe</button>
        <br><br>
        <ul>
            <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
            <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
            <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
            <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
        </ul>
    </form>
{% endblock %}